/*
File Name: contact.css
Student Name: Soroush Fazel-Pour
Student ID: 301368534
Date: September 29, 2024
*/

.contact-form {
    width: 50%; 
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contact-info {
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #555; 
    color: white; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contact-me {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.contact-form div {
    margin-bottom: 15px; 
}

.contact-form label {
    display: block;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 75%; 
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: black; 
    border: none;
    cursor: pointer;
    border-radius: 4px; 
}

button:hover {
    background-color: #e7e557;
}
