/*
File Name: home.css
Student Name: Soroush Fazel-Pour
Student ID: 301368534
Date: September 29, 2024
*/

.home {
    display: block;
    justify-content: center;
    align-items: center;
    height: 24vh; 
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    max-width: 800px; 
    margin: auto; 
    margin-top: 75px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}
.home p {
    margin: 10px 0;
}